@(username: String, title: String)(implicit request: RequestHeader)

@main(s"Anonymous chat - $title") {


    <h1>Anonymous chat - @title</h1>
    <div id="messages">
    </div>
    <label>
        @username
        <input type="text" id="newMessage"/>
    </label>
    <input id="sendBtn" type="button" value="Send">
    <input type="hidden" id="socketUrl" value="@routes.ChatController.connect().webSocketURL()" />

    <script src="@routes.Assets.versioned("javascripts/chat_connection.js")" ></script>
}

