@()(implicit request: RequestHeader)

@main(s"Select chat") {

    <div class="columns">
        <div class="column is-1"></div>
        <div class="column is-5">
            <h1 class="title">Please, enter your code</h1>
            <form action="@helper.CSRF(routes.ChatController.displayChat)" method="post">
                <div class="field">
                    <label class="label" for="key">Code</label>
                    <div class="control">
                        <input id="key" class="input" name="key" type="text"/>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="username">Username</label>
                    <div class="control">
                        <input id="username" class="input" name="username" type="text"/>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="title">Title (optional)</label>
                    <div class="control">
                        <input id="title" class="input" name="title" type="text"/>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input type="submit" class="button" value="Enter">
                    </div>
                </div>
            </form>
        </div>
    </div>

}
